@mixin for-tablet-down {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin button-style {
  position: absolute;
  left: 10%;
  bottom: 15%;
  padding: 10px 16px;
  font-size: 20px;
  border: 1px solid #6e6c6c;
  border-radius: 50px;
  color: #fff;
  background-color: #6e6c6c;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
  }
}
